name: Deploy to ECR
on:

  push:
    branches: [ master ] 
env:
  ECR_REPOSITORY: eks-lab
  EKS_CLUSTER_NAME: EKS-Lab-cluster
  AWS_REGION: us-east-1
  AWS_ACCOUNT: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:

  build:

    name: Deployment
    runs-on: ubuntu-latest

    steps:

    - name: Set short git commit SHA
      id: commit
      uses: prompt/actions-commit-hash@v2

    - name: Check out code
      uses: actions/checkout@v2 

    - name: Config AWS Creds
      uses: aws-actions/configure-aws-credential@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{env.AWS_REGION}}
        with:
          role-to-assume: arn:aws:iam::123456789012:role/my-github-actions-role
          aws-region: aws-region-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and puch image to ECR
      env:
       ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}  
       IMAGE_TAG: ${{ steps.commit.outputs.short }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f docker/Dockerfile .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    - name: Update kube config 
      run: aws eks update-kubeconfig --name $EKS_CLUSTER_NAME --region $AWS_REGION

    - name: Deploy to EKS 
      env:
        ECR_REGISTRY:  ${{ steps.login-ecr.outputs.registry }} 
        IMAGE_TAG: ${{ steps.commit.outputs.short }}
        run: | 
        sed -i.bak "s|DOCKER_IMAGE|$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG|g" manifests/app-deploy.yaml && \
        kubectl apply -f manifests/app-deploy.yaml
        kubectl apply -f manifests/app-service.yaml
